

#bannerRegisterCon {
	width: 100%;
	height: 95vh;
	/*background-color: lightsalmon;*/
}

.registerCon-a {
			width: 70%;
			height: 85vh;

			align-items: center;

			/*background-color: hotpink;*/
		}

				.registerform {
					width: 80%;
					height: 85vh;

					-webkit-border-radius:20px 20px;
					-moz-border-radius:20px 20px;
					border-radius: 20px 20px;

					-webkit-box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.1);
					-moz-box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.1);
					box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.1);

					justify-content: space-between;

					background-color: white;
				}

								.registerform p {
									font-size: 15px;
								}

								.registerform a {
									color: blueviolet;
									text-decoration: none;
									font-size: 15px;
								}

						.registerform-a {
							width: 100%;
							height: 10%;
							border-bottom: 1px solid #f4f4f4;
							/*background-color: gray;*/
						}

						.registerform-b {
							width: 100%;
							height: 65%;
							
							/*background-color: lightgray;*/
						}

								input[type=text], input[type=password] {
						      width: 70%;
						      padding: 16px 8px;
						      margin: 8px 0;
						      display: inline-block;
						      border: 1px solid #ccc;
						      box-sizing: border-box;
					      }

								.registerform-b div {
									width: 70%;
								}

						.registerform-c {
							width: 100%;
							height: 20%;
							border-top: 1px solid #f4f4f4;

							/*background-color: dimgray;*/
						}

					      .registerform button {
									width: 70%;
									height: 40px;
									background-color: blueviolet;
									color: #fff;
									text-decoration: none;
									padding: 0 40px;
									border: none;
									margin-bottom: 10px;

									-webkit-border-radius:70px 70px;
									-moz-border-radius:70px 70px;
									border-radius: 70px 70px;
					      }


					      .registerform button:hover {
									color: blueviolet;
									background-color: white;
									transition: 0.3s;

									-webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
									-moz-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
									box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
					      }