#bannerCon {
	width: 100%;
	height: 90vh;
	background-color: #f2e8f8;

	display: flex;
	flex-direction: column;
	align-items: center;
}

	.bannerSpace {
		width: 70%;
		height: 5%;
	}

	.bannerForContentCon {
		width: 70%;
		height: 70%;
		/*background-color: deeppink;*/

		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		/*align-items: center;*/
	}

			.bannerForContentCon-a {
				width: 50%;
				/*background-color: lightpink;*/
			}

					.bannerForContentCon-aa {
						font-size: 50px;
					}

					.bannerForContentCon-ab {
						font-size: 15px;
						margin: 10px 0;
					}

					.bannerForContentCon-ac {
						font-size: 25px;
					}

			.bannerForContentCon-b {
				width: 50%;
				/*background-color: hotpink;*/

				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
			}
					.bannerForContentCon-b-pic1 {
						width: 600px;
						height: 400px;
						/*background-color: lightgray;*/
						background-image: url("../images/chatSample.png");

						-webkit-border-radius:20px 20px;
						-moz-border-radius:20px 20px;
						border-radius: 20px 20px;
					} 

	.bannerForButtons {
		width: 70%;
		height: 20%;
		/*background-color: cornsilk;*/

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

			.bannerForButtons a {
				margin: 5px 0;
			}

































#integrationCon {
	width: 100%;
	height: 70vh;

	background-image: url("../images/bannerBg01.png");
	background-repeat: no-repeat;
}

.integrationForContentCon {
	width: 70%;
	height: 70vh;
	/*background-color: hotpink;*/

	display: flex;
	flex-direction: row;
}

		.integrationCon-a {
			width: 65%;
			height: 70vh;

			/*background-color: hotpink;*/
		}

				.integrationCon-aa {
					height: 30%;
					padding: 0 40px;
					font-size: 30px;
					/*background-color: deeppink;*/

					/*border-bottom: 1px solid lightgray;*/
				}

				.integrationCon-ab {
					height: 50%;
					padding: 0 40px;
				}

						.integrationCon-aba {
							width: 30%;
							height: 80%;
							padding: 0 20px;
							margin: 0 10px;
							/*background-color: green;*/

							/*border: 2px solid lightgray;*/
							-webkit-border-radius:20px 20px;
							-moz-border-radius:20px 20px;
							border-radius: 20px 20px;

							justify-content: center;
						}

				.integrationCon-ac {
					height: 20%;
					padding: 0 30px;
					font-size: 20px;
					/*background-color: yellow;*/

					/*border-top: 1px solid lightgray;*/
				}

		.integrationCon-b {
			width: 35%;
			height: 70vh;
			/*background-color: darkred;*/
		}

				.integrationCon-b a {
					padding: 25px 60px;
				}





























#weProvideCon {
	width: 100%;
	height: 115vh;
}

.weProvideForContentCon {
	width: 100%;
	height: 115vh;
	/*background-color: yellowgreen;	*/

	display: flex;
	flex-direction: column;
}

		.weProvideCon-a {
			width: 100%;
			height: 30vh;
			background-color: blueviolet;

			-webkit-border-radius:0px 200px 0px 200px;
			-moz-border-radius:0px 200px 0px 200px;
			border-radius: 0px 200px 0px 200px;
		}

				.weProvideCon-a span {
					font-size: 30px;
					color: white;
				}

				.weProvideCon-a p {
					font-size: 18px;
					color: lightgray;
				}

				.weProvideCon-a input {
					width: 50%;
					padding: 12px 20px;
					margin: 8px 0;
					display: inline-block;
					border: 1px solid #ccc;
					border-radius: 4px;
					box-sizing: border-box;
				}

		.weProvideCon-b {
			width: 100%;
			height: 30vh;
			/*background-color: blueviolet;*/
		}

				.weProvideCon-ba {
					width: 35%;
					height: 30vh;
					padding: 0 0 0 20px;

					justify-content: center;
					/*background-color: deeppink;*/
				}

						.weProvideCon-ba span {
							font-size: 30px;
							color: darkorange;
						}

						.weProvideCon-ba p {
							font-size: 45px;
							color: blueviolet;
						}

				.weProvideCon-bb {
					width: 35%;
					height: 30vh;
					padding: 0 0 0 20px;

					justify-content: center;
					/*background-color: pink;*/
				}

						.weProvideCon-bb p {
							font-size: 20px;
							color: black;
						}

		.weProvideCon-c {
			width: 100%;
			height: 45vh;
			/*background-color: hotpink;*/
		}

				.weProvideCon-ca {
					width: 35%;
					height: 40vh;
					/*background-color: gray;*/

						display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					align-items: center;
				}

				.weProvideCon-cb {
					width: 35%;
					height: 40vh;
					/*background-color: ghostwhite;*/

					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					align-items: center;
				}

						.weProvideCon-cards {
							width: 95%;
							height: 18vh;
							/*background-color: skyblue;*/

							display: flex;
							flex-direction: row;
							justify-content: space-evenly;
							align-items: center;

							-webkit-box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.1);
							-moz-box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.1);
							box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.1);

							-webkit-border-radius:20px 20px;
							-moz-border-radius:20px 20px;
							border-radius: 20px 20px;
						}

								.weProvideCon-cards-texts {
									width: 70%;
									/*background-color: cadetblue;*/
								}

										.weProvideCon-cards-texts span {
											font-size: 25px;
										}