

#bannerPricingCon {
	width: 100%;
	height: 100vh;
	/*background-color: darkred;*/
}

		.bannerPricingCon-a {
			width: 80%;
			height: 25vh;
			/*background-color: hotpink;*/
		}

				.bannerPricingCon-a span {
					font-size: 50px;
					color: blueviolet;
				}

				.bannerPricingCon-a p {
					font-size: 20px;
					color: darkorange;
				}

		.bannerPricingCon-b {
			width: 80%;
			height: 75vh;
			/*background-color: deeppink;*/
		}

				.bannerPricingCon-forCards {
					height: 60vh;
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					align-items: center;

					/*background-color: lightpink;*/
				}

						.bannerPricingCon-cards {
							width: 20%;
							height: 50vh;
							padding: 20px 30px;
							/*background-color: skyblue;*/


							-webkit-box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.1);
							-moz-box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.1);
							box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.1);

							-webkit-border-radius:20px 20px;
							-moz-border-radius:20px 20px;
							border-radius: 20px 20px;
						}

							.bannerPricingCon-cards h2 {
								font-size: 30px;
							}

							.bannerPricingCon-cards h3 {
								font-size: 25px;
								color: blueviolet;
							}

							.bannerPricingCon-cards p i {
								font-size: 15px;
							}

							.bannerPricingCon-cards p {
								font-size: 17px;
								padding-bottom: 5px;
							}

							.bannerPricingCon-cards h5 {
								color: darkorange;
								padding-top: 5px;
							}

						  .bannerPricingCon-cards-a {
						  	width: 100%;
						  	height: 35%;
						  	/*background-color: green;*/
						  }

						  .bannerPricingCon-cards-b {
						  	width: 100%;
						  	height: 45%;
						  	/*background-color: greenyellow;*/
						  }

						  .bannerPricingCon-cards-c {
						  	width: 100%;
						  	height: 20%;
						  	/*background-color: limegreen;*/
						  }

.tabCon {
	/*border: 2px solid black;*/
	width: 100%;
}

/* Style the tab */
.tab {
  /*overflow: hidden;*/
  width: 210px;
	height: 60px;
	background-color: blueviolet;
  display: flex;
  justify-content: center;
  border: 7px solid blueviolet;

	-webkit-border-radius:50px 50px;
	-moz-border-radius:50px 50px;
	border-radius: 50px 50px;
  /*border: 1px solid #ccc;*/
  /*background-color: #f1f1f1;*/
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  /*float: left;*/
  border: none;
  outline: none;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 12px 14px;
  transition: 0.3s;
  font-size: 17px;

/*  -webkit-border-radius:50px 0px 0px 50px;
	-moz-border-radius:50px 0px 0px 50px;
	border-radius: 50px 0px 0px 50px;*/
}

.forTabButton-a {
  -webkit-border-radius:50px 0px 0px 50px;
	-moz-border-radius:50px 0px 0px 50px;
	border-radius: 50px 0px 0px 50px;
}

.forTabButton-b {
  -webkit-border-radius:0px 50px 50px 0px;
	-moz-border-radius:0px 50px 50px 0px;
	border-radius: 0px 50px 50px 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  /*background-color: #ddd;*/
  background-color: white;
  border: 2px solid blueviolet;
  padding: 12px 14px;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
  color: black;
  /*background-color: #ccc;*/
}

/* Style the tab content */
.tabcontent {
  display: none;
  /*padding: 6px 12px;*/
  /*border: 1px solid #ccc;*/
  border-top: none;
}



























#tablePricingCon {
	width: 100%;
	height: 220vh;
	/*background-color: darkolivegreen;*/

		display: flex;
		flex-direction: row;
		justify-content: center;
}

.tablePricingCon {
	width: 80%;
}

		table {
		  /*font-family: arial, sans-serif;*/
		  border-collapse: collapse;
		  width: 100%;
		  margin-bottom: 30px;
		}

		th {
			/*height: 10px;*/
		  /*border: 1px solid #dddddd;*/
		  text-align: left;
		  padding: 20px 30px;
		}

				th span {
					font-size: 20px;
				}

				th p {
					font-size: 12px;
					color: darkorange;
				}

		td {
			/*height: 10px;*/
		  border-top: 1px solid #dddddd;
		  text-align: center;
		  padding: 10px;
		}

				.tdFirstColumn {
					text-align: left !important;
				}

				td i {
					color: darkorange;
				}

		tr {
			/*height: 20px;*/
		  /*background-color: #dddddd;*/
		}

		.borderForTableRow {
			border-top: 2px solid #000;
		}


