

#bannerSigninCon {
	width: 100%;
	height: 95vh;

	/*background-color: lightgreen;*/
}

		.signinCon-a {
			width: 50%;
			height: 80vh;
			/*background-color: hotpink;*/
		}

				.signinform {
					width: 60%;
					height: 50vh;

					-webkit-border-radius:20px 20px;
					-moz-border-radius:20px 20px;
					border-radius: 20px 20px;

							-webkit-box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.1);
							-moz-box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.1);
							box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.1);

					justify-content: space-between;

					background-color: white;
				}

								.signinform p {
									font-size: 20px;
								}

								.signinform a {
									color: darkorange;
									text-decoration: none;
									font-size: 15px;
								}

						.signinform-a {
							width: 100%;
							height: 15%;
							border-bottom: 1px solid #f4f4f4;
							/*background-color: gray;*/
						}

						.signinform-b {
							width: 100%;
							height: 50%;
							
							/*background-color: lightgray;*/
						}

								input[type=text], input[type=password] {
						      width: 70%;
						      padding: 16px 8px;
						      margin: 8px 0;
						      display: inline-block;
						      border: 1px solid #ccc;
						      box-sizing: border-box;
					      }

								.signinform-b div {
									width: 70%;
								}

						.signinform-c {
							width: 100%;
							height: 30%;
							border-top: 1px solid #f4f4f4;

							/*background-color: dimgray;*/
						}

					      .signinform button {
									width: 70%;
									height: 40px;
									background-color: blueviolet;
									color: #fff;
									text-decoration: none;
									padding: 0 40px;
									border: none;
									margin-bottom: 10px;
									transition: 0.3s;

									-webkit-border-radius:70px 70px;
									-moz-border-radius:70px 70px;
									border-radius: 70px 70px;
					      }

					      .signinform button:hover {
									color: blueviolet;
									background-color: white;
									transition: 0.3s;

									-webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
									-moz-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
									box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
					      }



		.signinCon-b {
			width: 50%;
			height: 100%;

			background-color: blueviolet;
		}

				.signinCon-b span {
					font-size: 50px;
					color: white;
				}