html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



/*
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
*/

.font-a {
	font-family: 'Noto Sans', sans-serif;
}

.font-b {
	font-family: 'Archivo Black', sans-serif;
}
















.flexColumn {
	display: flex;
	flex-direction: column;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.justifyAlignCenter {
	justify-content: center;
	align-items: center;
}

.justifyAlignStartCenter {
	justify-content: flex-start;
	align-items: center;
}



/*flexColumn justifyAlignCenter*/


/*flexRow justifyAlignCenter*/
/*flexRow justifyAlignStartCenter*/













.button-a {
	/*width: 200px;*/
	height: 40px;
	background-color: blueviolet;
	color: #fff;
	text-decoration: none;
	padding: 0 40px;
	transition: 0.3s;

	-webkit-border-radius:70px 70px;
	-moz-border-radius:70px 70px;
	border-radius: 70px 70px;
}

.button-a:hover {
	color: blueviolet;
	background-color: white;
	transition: 0.3s;

	-webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);

}


.button-details {
	height: 20px;
	/*background-color: blueviolet;*/
	color: darkorange;
	text-decoration: none;
	padding: 0 40px;
	font-size: 15px;
}

































#navCon {
	width: 100%;
	height: 50px;
	background-color: white;
	position: fixed;
	border-bottom: 2px solid blueviolet;
}

.navCon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

	.navbar {
		display: flex;
		flex-direction: row;
		align-items: center;

		text-decoration: none;
	}

	.navbar a {
		/*height: 50px;*/
		/*display: block;*/
		/*text-align: center;*/
		text-decoration: none;
		/*padding: 0px 20px 0px 20px;*/
		padding: 10px 20px;
		transition: 0.3s;

		/*font-family: 'Alfa Slab One', cursive;*/
		/*font-family: 'Sniglet', cursive;*/
		font-family: 'Noto Sans', sans-serif;
		text-align: center;
		font-size: 15px;
		color: black;
	}


		.nav-part-a {
			width: 30%;
			/*background-color: green;*/
		}

				.btnForNav-c {
					background-color: white;
					color: violet;
					text-decoration: none;
					padding: 12px 5px;
					transition: 0.3s;
				}

				.btnForNav-c:hover {
					background-color: blueviolet;
					transition: 0.3s;
				}


		.nav-part-b {
			width: 30%;
			/*background-color: pink;*/

			display: flex;
			flex-direction: row;
			justify-content: flex-end;
		}


				.btnForNav-a {
					width: 150px;
					height: 40px;
					background-color: blueviolet;
					color: violet;
					text-decoration: none;
					margin: 0 5px;
					transition: 0.3s;

					-webkit-border-radius:5px 5px;
					-moz-border-radius:5px 5px;
					border-radius: 5px 5px;
				}

				.btnForNav-a:hover {
					background-color: white;
					transition: 0.3s;
				}

				.btnForNav-b {
					width: 150px;
					height: 40px;
					background-color: rgba(255, 255, 255, 0.0);
					color: blueviolet;
					text-decoration: none;
					border: 2px solid blueviolet;
					margin: 0 5px;
					transition: 0.3s;

					-webkit-border-radius:5px 5px;
					-moz-border-radius:5px 5px;
					border-radius: 5px 5px;
				}

				.btnForNav-b:hover {
					background-color: white;
					border: none;
					transition: 0.3s;
				}

























#spaceForNavCon {
	width: 100%;
	height: 50px;
	/*background-color: yellow;*/
}





















.footer {
	width: 100%;
	height: 60vh;
	background-color: blueviolet;
	color: white;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

		.footer-a {
			width: 100%;
			height: 10vh;
			background-color: white;
			-webkit-border-radius: 0px 0px 70px 70px ;
			-moz-border-radius: 0px 0px 70px 70px;
			border-radius: 0px 0px 70px 70px;
		}

		.footer-b {
			width: 100%;
			height: 40vh;

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			/*background-color: dodgerblue;*/
		}

				.footer-b-card-a {
					width: 15%;
					height: 35vh;
					margin: 0 10px;
					padding: 10px 20px;
					font-size: 16px;
					/*background-color: mediumblue;*/
				}

						.footer-b-card-aa {	
							height: 30%;

							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: flex-start;
							/*background-color: red;*/
						}

						.footer-b-card-ab {	
							height: 50%;
						}

						.footer-b-card-ac {	
							height: 20%;
							/*background-color: red;*/

							justify-content: space-evenly;
							align-items: center;
						}

								.footer-b-card-ac a {
									transition: 0.3s;
								}

								.footer-b-card-ac a:hover {
									transition: 0.3s;
									-webkit-box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
									-moz-box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
									box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
								}

				.footer-b-card-b {
					width: 15%;
					height: 35vh;
					margin: 0 10px;
					padding: 10px 20px;

					/*background-color: powderblue;*/
				}

						.footer-b-card-b a {
								display: block;
								/*text-align: center;*/
								text-decoration: none;
								padding: 5px 20px 0px 20px;

								/*font-family: 'Alfa Slab One', cursive;*/
								/*font-family: 'Sniglet', cursive;*/
								/*font-family: 'Noto Sans', sans-serif;*/
								text-align: left;
								font-size: 20px;
								color: white;
								transition: 0.3s;
						}

						.footer-b-card-b a:hover {
							color: darkorange;
							transition: 0.3s;
							-webkit-text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
							-moz-text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
							text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
						}

		.footer-c {
			width: 70%;
			height: 5vh;
			border-top: 2px solid white;
			/*margin: auto;*/
			/*background-color: steelblue;*/
		}

				.footer-c-a {
					height: 5vh;
					/*background-color: steelblue;*/
				}




















* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

section {
	height: 100vh;
}

/*mobile style*/
@media only screen and (max-width:400px){
	section {
		background-color: blue;
	}
}

/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	section {
		background-color: red;
	}
}

/*desktop style*/
@media only screen and (min-width: 961px) {
	section {
		background-color: yellow;
	}
}